# Sunstone Prayas Library - Google Firebase Credentials
VITE_FIREBASE_API_KEY=AIzaSyYourActualApiKeyHere
VITE_FIREBASE_AUTH_DOMAIN=sunstone-library-cbf2d.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://sunstone-library-cbf2d-default-rtdb.asia-southeast1.firebasedatabase.app/
VITE_FIREBASE_PROJECT_ID=sunstone-library-cbf2d
VITE_FIREBASE_STORAGE_BUCKET=sunstone-library-cbf2d.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=123456789012
VITE_FIREBASE_APP_ID=1:123456789012:web:abcdef123456
